<h1>Agregar productos:</h1>

<form action="/api/productos/guardar" method="POST">
    <div>
        <label for="title">Nombre</label>
        <input type="text" name="title" placeholder="Nombre" id="title" />
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="text" name="price" placeholder="Valor" id="price" />
    </div>
    <div>
        <label for="thumbnail">Imagen</label>
        <input type="text" name="thumbnail" placeholder="URL" id="thumbnail" />
    </div>
    <div>
        <button type="submit">Adicionar</button>
        <button>
            <a href="/api/productos-test">Agregar productos desde Faker.js</a>
        </button>
    </div>
</form>