<h1>Centro de Mensajes</h1>

<form action="/api/mensajes/guardar" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" id="email" />
    </div>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="nombre" id="nombre" />
    </div>
    <div>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" placeholder="apellido" id="apellido" />
    </div>
    <div>
        <label for="edad">Edad</label>
        <input type="number" name="edad" placeholder="edad" id="edad" />
    </div>
    <div>
        <label for="alias">Alias</label>
        <input type="text" name="alias" placeholder="alias" id="alias" />
    </div>
    <div>
        <label for="avatar">Avatar</label>
        <input type="text" name="avatar" placeholder="avatar" id="avatar" />
    </div>
    <div>
        <label for="message">Mensaje</label>
        <input type="text" name="message" placeholder="Mensaje" id="message" />
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>