extends inicio

block historial 
    .container
        .row
            .col-12
                h2 Historial

        if productos.length > 0
            div.table-responsive
                table.table.table-dark
                    tr
                        th Nombre
                        th Precio
                        th Imagen
                    each producto in productos
                        tr
                            td= producto.nombre
                            td= producto.precio
                            td= producto.imagen

                            .container
            .row
                .col-12
                    button.btn.btn-info(type="button" onclick="location.href='/'") volver
        else
            h3 No hay productos
            .row
            .col-12
                button.btn.btn-info(type="button" onclick="location.href='/'") volver

