<h1>Productos random desde Faker.js</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each objs}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td><img src="{{thumbnail}}" alt="{{title}}" /></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<buton><a href="/">Volver</a></buton>