<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/logout" method="POST">
                <div class="form-group d-flex">
                    <h1>Bienvenido <%=nombre%></h1>
                    <button type="submit" class="btn btn-warning ml-auto">
                        Desloguear
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
